body {
	position: relative;
}

#side-menu {
	z-index: 3;
	background-color: #fff;
	display: block;
	position: fixed;
	top: 160px;
	right: 0px;
	bottom: 0px;
	width: 60px;
	height: 270px;
	box-shadow: 0 8px 11px 4px #e5eef9;
}

#side-menu li img {
	width: 50px;
	padding: 5px;
	margin: 2px;
}

#btn {
	position: relative;
}

#btn #dis {
	display: none;
}

#btn:hover #dis {
	display: block;
	position: absolute;
	right: 55px;
	top: -6px;
	clear: left;
	margin-top: 1px;
	width: 150px;
	border-radius: 16px;
}

.nav1 {
	width: 1263.33px;
	height: 50px;
	padding: 0 100px;
	box-shadow: 0 1px 1px 0 #d3d3d3;
	text-align: center;
	z-index: 1;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #fff;
}

.nav1 .logo,
.nav1 .search,
.nav1 .column {
	float: left;
	width: 106.323px;
	margin-right: 30px;
}

.nav1 .column .active {
	padding-bottom: 5px;
	border-bottom: 2px solid #DC3333;
}

.nav1 .logo img {
	height: 50px;
}

.nav1 .search {
	width: 159.49px;
	position: relative;
	line-height: 25px;
	padding: 0 40px 0 10px;
	margin: 12px 40px 12px 0;
	border: 1px solid #cd0301;
	border-radius: 20px;
	color: #aaa;
}

.nav1 .search .desired input {
	width: 85.99px;
	color: #757575;
	font-family: "华文行楷";
}

.nav1 .search .search-key button {
	position: absolute;
	top: 5px;
	right: 10px;
	width: 30px;
	height: 30px;
	background: url('../img/search.png') no-repeat;
	background-size: 15px 15px;
	cursor: pointer;
}

.nav1 .column {
	width: 400px;
}

.nav1 .column .home,
.nav1 .column .learning-center,
.nav1 .column .free-classes,
.nav1 .column .open-class,
.nav1 .column .community {
	float: left;
	line-height: 50px;
	width: 79px;
	font-weight: 350;
}

.nav1 .personal-center img,
.nav1 .class-hour img {
	width: 25px;
	padding-bottom: 5px;
}

.nav1 .class-hour,
.nav1 .personal-center {
	float: right;
	width: 106.32px;
	line-height: 50px;
	margin-left: 20px;
	vertical-align: middle;
}
.nav1 .personal-center {
	width: 150px;
}
.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1263.33px;
	height: 200px;
	position: relative;
	background-color: rgba(117, 117, 117, .3);
}

.footer .service {
	width: 1263.33px;
	height: 200px;
	padding: 0 100px;
}

.footer .service .top {
	padding: 20px 0;
	height: 40px;
	width: 1063.32px;
	margin-bottom: 20px;
}

.footer .service .top h3,
.footer .service .top b {
	float: left;
	line-height: 20px;
	margin: 0 5px;
	color: #CD0301;
	font-family: '黑体';
}

.footer .service .top span {
	margin: 0 15px;
	background-color: #757575;
	border-radius: 6px;
	color: #FAFAFA;
	padding: 0 10px;
}

.footer .service .contact {
	height: 80px;
	width: 1063.32px;
	margin: 0 5px;
	color: #757575;
}

.footer .service .contact .title {
	width: 318.99px;
	font-size: 18px;
}

.footer .service .contact .title b {
	background-color: #757575;
	border-radius: 6px;
	color: #FAFAFA;
	padding: 0 10px;
}

.footer .service .contact .title span {
	font-size: 12px;
}

.footer .service .contact .content {
	width: 1063.31px;
}

.footer .service .contact .content i {
	margin-right: 60px;
}

.footer .service .contact .content i.add {
	margin-left: 104px;
}

.footer .service .contact .content a {
	color: #757575;
	margin-right: 20px;
}

.footer .service .contact .content img {
	width: 15px;
}

.footer .link {
	width: 1063.31px;
	margin-top: 20px;
}

.footer .link b {
	font-size: 18px;
	background-color: #757575;
	border-radius: 6px;
	color: #FAFAFA;
	padding: 0 10px;
}

.footer .link span {
	margin: 0 15px;
	color: #757575;
}

.footer .qr-code {
	position: absolute;
	top: 20px;
	right: 30px;
}

.footer .qr-code img {
	margin-right: 70px;
	width: 150px;
	display: block;
}

.footer .qr-code span {
	font-size: 14px;
	color: #757575;
}

.footer .copyright {
	background-color: #757575;
	color: #FAFAFA;
	text-align: center;
}










.curriculum {
		width: 1263.33px;
	height: 607px;
	padding: 60px 100px 0;
	
}
			
			.curriculum a {

				color: #fff;
			}
			
			
			.flaticon-upload h6,
			h6 a {
				font-size: 16px;
			}
			
			.testimonial .section-wrapper {
				position: relative;
			}
			
			.testimonial .section-wrapper ul.nav.nav-tabs {
				
				margin: 0 auto !important;
				border: 1px solid #ecf0f3;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
			}
			
			.testimonial .section-wrapper ul.nav.nav-tabs li {
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				transition: all 0.3s ease;
				position: relative;
				padding: 0;
				border-bottom: 1px solid #ecf0f3;
			}
			
			.testimonial .section-wrapper ul.nav.nav-tabs li.active {
				display: none;
			}
			
			.testimonial .section-wrapper ul.nav.nav-tabs li:last-child {
				border: none;
			}
			
			.testimonial .section-wrapper ul.nav.nav-tabs li a {
				display: flex;
				align-items: center;
				height: 50px;
				padding: 10px 15px;
				outline: none;
				color: #403663;
			}
			
			@media (max-width: 575px) {
				.testimonial .section-wrapper ul.nav.nav-tabs li a {
					padding: 10px 20px;
				}
			}
			
			.testimonial .section-wrapper ul.nav.nav-tabs li a .post-thumb {
				width: 36px;
				height: 36px;
			}
			
			.testimonial .section-wrapper ul.nav.nav-tabs li a .post-thumb img {
				width: 36px;
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				border-radius: 100%;
			}
			.testimonial .section-wrapper ul.nav.nav-tabs li a img {
				margin-right: 10px;
			}
			.testimonial .section-wrapper ul.nav.nav-tabs li a h6 {
				font-family: "Rubik", sans-serif;
				margin-left: 20px;
				color: #fff !important;
			}
			
			.testimonial .section-wrapper ul.nav.nav-tabs li a h6 span {
				font-size: 15px;
				margin-left: 5px;
				color: rgba(64, 54, 99, 0.8);
				font-family: "Roboto", sans-serif;
			}
			
			.testimonial .section-wrapper ul.nav.nav-tabs li.flaticon-upload {
				cursor: pointer;
				width: 300px;
				height: 50px;
			}
			
			.testimonial .section-wrapper ul.nav.nav-tabs li.flaticon-upload:before {
				opacity: 0;
				position: absolute;
				top: 50%;
				right: 20px;
				margin: 0;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}
			
			.testimonial .section-wrapper ul.nav.nav-tabs li:hover.flaticon-upload:before {
				opacity: 1;
				color: #ff7555;
			}
			.testimonial .section-wrapper .tab-content  {
				height: 452px;
			}
			.testimonial .section-wrapper .tab-content .tab-pane {
				display: none;
				
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}
			
			.testimonial .section-wrapper .tab-content .tab-pane.active {
				display: block;
			}
			
			.testimonial .section-wrapper .post-item {
				width: 760px;
				height: 451px;
				margin: 0 auto;
				position: relative;
				box-shadow: 0px 8px 24px 0px rgba(27, 16, 66, 0.08);
				margin-bottom: 30px;
				border-radius: 12px;
			}
			
			@media (min-width: 768px) {
				.testimonial .section-wrapper .post-item {
					padding: 40px 80px;
				}
			}
			
			.testimonial .section-wrapper .post-item .post-thumb {
				width: 90px;
				height: 90px;
				margin: 0 auto 20px;
				border: 3px solid #fff;
				border-radius: 100%;
				box-shadow: 0 18px 36px rgba(136, 136, 136, 0.36);
			}
			
			@media (min-width: 768px) {
				.testimonial .section-wrapper .post-item .post-thumb {
					position: absolute;
					top: 20px;
					left: -10px;
					-webkit-transform: translate(-30%, -30%);
					-ms-transform: translate(-30%, -30%);
					transform: translate(-30%, -30%);
					margin: 0;
				}
			}
			
			@media (min-width: 992px) {
				.testimonial .section-wrapper .post-item .post-thumb {
					-webkit-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
				}
			}
			
			.testimonial .section-wrapper .post-item .post-thumb img {
				width: 100%;
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				border-radius: 100%;
			}
			
			.testimonial .section-wrapper .post-item p {
				font-size: 14px;
				margin-bottom: 12px;
				line-height: 30px;
			}
			
			@media (max-width: 575px) {
				.testimonial .section-wrapper .post-item p {
					text-align: center;
					font-size: 16px;
					line-height: 26px;
				}
			}
			
			.testimonial .section-wrapper .post-item h6 {
				font-family: "Rubik", sans-serif;
				padding:10px 0 20px;
				font-size: 25px;
				border-bottom: 2px solid #fff;
			}
			.testimonial .section-wrapper #three .post-item    h6 {
				padding: 2px 0 ;
				border:  none;
			}
			@media (max-width: 575px) {
				.testimonial .section-wrapper .post-item h6 {
					text-align: center;
				}
			}
			
			.testimonial .section-wrapper .post-item h6 span {
				font-family: "Roboto", sans-serif;
				font-size: 15px;
				font-weight: 400;
				color: #eee;
			}
			
			@media (max-width: 575px) {
				.testimonial .section-wrapper .post-item h6 span {
					display: block;
					font-size: 12px;
					margin-top: 5px;
				}
			}
			
			.testimonial.style-2 {
				background-color: #f9fafb;
			}
			
			.testimonial.style-2 ul {
				overflow: hidden;
			}
			
			.testimonial.style-2 ul.nav-tabs li a {
				background-color: #555;
			}
			
			.testimonial.style-2 .post-item {
				background-color: #555;
			}
			
			@media (max-width: 767px) {
				.testimonial.style-2 .post-item {
					padding: 30px 20px;
				}
			}
			
			.testimonial-section .swiper-pagination-bullet-active:after,
			.testimonial-section .swiper-pagination-bullet-active:before {
				content: '';
				display: block;
				position: absolute;
				border: 1px solid rgba(255, 117, 85, 0.18);
				left: 0px;
				top: 0px;
				right: 0px;
				bottom: 0px;
				border-radius: 50%;
				opacity: 0;
				backface-visibility: hidden;
			}
			
			.section-header {
				color: rgba(64, 54, 99, 0.8);
				font-family: "Roboto", sans-serif;
				font-size: 16px;
				width: 100%;
				height: 80px;
				z-index: 1;
				line-height: 80px;
			}
			
			.section-header i,
			.section-header em {
				float: left;
				margin-left: 60px;
			}
			
			.section-header em {
				margin-left: 0;
				margin-right: 76px;
			}
			
			.testimonial .section-wrapper ul.nav {
				position: absolute;
				top: 0;
				right: 0;
				padding-left: 0;
			}
			

			
			.post-item {
				float: left;
			}
			
			.testimonial p {
				color: #fff;
			}